<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Surah Explorer </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img style="height: 80px; width: 80px" src="/views/images/quran.png">
                </a>
            </div>
        </div>

         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Surah Explorer</a></li>
                <li><a href="/surahs">Surah Search</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {{{body}}}
</div>

</body>
</html>
