<h1 style="text-align: center;">Future Facebook after Repentance => Ø§Ù„Ù†Ø§ØµØ­ Ø§Ù„Ø£Ù…ÙŠÙ† </h1>

<!--For the first 3 visits display a welcome message.
    After the 3rd visit display an advice message
-->
<div style="text-align: center; display: none" id="halaDiv">
    <h1>Ø§Ù„Ø³Ù„Ø§Ù… Ø¹Ù„ÙŠÙƒÙ… ÙˆØ±Ø­Ù…Ø© Ø§Ù„Ù„Ù‡ ÙˆØ¨Ø±ÙƒØ§ØªÙ‡</h1>
    <h2> â˜º ÙŠØ§ Ù‡Ù„Ø§ Ùˆ Ù…Ø±Ø­Ø¨Ø§ Ø¨Ùƒ </h2>
    <h3>Ù†ÙˆØ±Øª Ø§Ù„Ù…Ù†ØªØ¯Ù‰ Ø¨Ø²ÙŠØ§Ø±ØªÙƒ</h3>
    <h3>Number of visists: <span class="visitCount"></span> </h3>
    <img src="views/img/Hala.gif"/>
</div>

<div style="text-align: center; display: none" id="noHalaDiv">
    <h1>Ø§Ù„Ø³Ù„Ø§Ù… Ø¹Ù„ÙŠÙƒÙ… ÙˆØ±Ø­Ù…Ø© Ø§Ù„Ù„Ù‡ ÙˆØ¨Ø±ÙƒØ§ØªÙ‡</h1>
    <h1>Ù„Ø§ Ù‡Ù„Ø§ Ùˆ Ù„Ø§ Ù…Ø±Ø­Ø¨Ø§ Ø¨Ùƒ</h1>
    <h2 style="color: red">  ÙŠØ§ Ù…Ø¶ÙŠØ¹ Ø£ÙˆÙ‚Ø§ØªÙ‡ Ø¨Ø²ÙŠØ§Ø±Ø§ØªÙƒ Ø§Ù„Ù…ØªÙƒØ±Ø±Ø© ðŸ˜’ </h2>
    <h3>Number of visists: <span class="visitCount"></span> </h3>
    <h4 style="color: red">Your assignemnt and project deadlines will NOT be extended !!!</h4>
    <table style="width: 100%">
        <tr>
            <td style="width: 30%"><img src="views/img/Wa9t.jpg" style="width:100%;height:100%;"></td>
            <td style="width: 40%"><img src="views/img/Wa9t2.jpg" style="width:100%;height:100%;"></td>
            <td style="width: 30%"><img src="views/img/ÙØ§Ø².jpg" style="width:100%;height:100%;"></td>
        </tr>
    </table>
</div>

<script src="views/js/hala.js"></script>
