<button (click)="onAddLandmark()" type="button" class="btn btn-link">
    <i class="fa fa-plus" aria-hidden="true"></i> Landmark
</button>

<br/><br/>

<form #f="ngForm" novalidate>
    <div *ngFor="let landmark of landmarks; let i = index">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label required"
                   [for]="'landmark.name' + i">Name
            </label>
            <div class="col-sm-7">
                <input class="form-control"
                       [(ngModel)]="landmark.name"
                       [id]="'landmark.name' + i"
                       [name]="'landmark.name' + i"
                       required
                       [class.is-invalid]="f.form.controls[i]?.invalid && f.form.controls[i].touched">
                <div *ngIf="f.form.controls[i]?.invalid && f.form.controls[i].touched"
                     class="invalid-feedback">
                    Landmark is required
                </div>
            </div>
            <div class="col-sm-2">
                <app-rating-stars [readOnly]=false
                                  [(rating)]="landmark.rating"
                                  [max]=5>
                </app-rating-stars>
                <div> Rating : {{landmark.rating}} </div>
            </div>

            <div class="col-sm-1">
                    <span class="delete" title="Delete Landmark" (click)="onDeleteLandmark(i)">
                        <i style="color: indianred;" class="fa fa-times" aria-hidden="true"></i>
                    </span>
            </div>
        </div>
    </div>
</form>
