<button (click)="onAddLandmark()" type="button" class="btn btn-link">
    <i class="fa fa-plus" aria-hidden="true"></i> Landmark
</button>

<br/><br/>

<form #landmarkFrom="ngForm" novalidate>
    <div *ngFor="let landmark of landmarks; let i = index">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"
                   [for]="'landmark.name' + i">Landmark Name
            </label>
            <div class="col-sm-5">
                <input class="form-control"
                       [id]="'landmark.name' + i"
                       [(ngModel)]="landmark.name"
                       [name]="'landmark.name' + i"
                       required
                       [class.is-invalid]="landmarkFrom.form?.controls['landmark.name' + i]?.invalid && landmarkFrom.form.controls['landmark.name' + i].touched">
                <div *ngIf="landmarkFrom.form.controls['landmark.name' + i]?.invalid && landmarkFrom.form.controls['landmark.name' + i].touched"
                     class="invalid-feedback">
                    Landmark is required
                </div>
            </div>
            <!--<label class="col-sm-1 col-form-label" [for]="'landmark.rating' + i" >Rate</label>-->
            <div class="col-sm-2">
                <app-rating-stars [readOnly]=false
                                  [(rating)]="landmark.rating" [max]=5
                                  >
                </app-rating-stars>
                <span> Rating : {{landmark.rating}} </span>
            </div>

            <div class="col-sm-1">
                    <span class="delete" title="Delete Landmark" (click)="onDeleteLandmark(i)">
                        <i style="color: indianred;" class="fa fa-times" aria-hidden="true"></i>
                    </span>
            </div>
        </div>
    </div>
</form>
