<h1>{{title}}</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Quote</th>
    </tr>
    {{#heroes}}
        <tr>
            <td>{{name}}</td>
            <td>{{heroType}}</td>
            <td>{{quote}}</td>
        </tr>
    {{/heroes}}
</table>