<h2>Welcome to MVC WebApp Example </h2>
<br>
<h4>Web API Urls:</h4>
<table class="table table-striped">
    <tr>
        <td><a href="http://localhost:9080/api/students">http://localhost:9080/api/students</a></td>
        <td>Get students as a json document</td>
    </tr>
    <tr>
        <td><a href="http://localhost:9080/api/students/2015001">http://localhost:9080/api/students/2015001</a></td>
        <td>Get details of student 2015001 as a json document</td>
    </tr>
    <tr>
        <td><a href="http://localhost:9080/api/heroes">http://localhost:9080/api/heroes</a></td>
        <td>Get heroes as a json document</td>
    </tr>
    <tr>
        <td><a href="http://localhost:9080/api/heroes/1">http://localhost:9080/api/heroes/1</a></td>
        <td>Get details of hero 1 as a json document</td>
    </tr>
    <tr>
        <td colspan="2">Use Postman to test post/put/delete http://localhost:9080/api/heroes</td>
    </tr>
</table>