<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="views/css/styles.css" >
</head>
<body>
<div class="col-md-3 col-md-offset-4">
    <h3>Welcome to MVC WebApp</h3>
    <br>
    <form method="post" action="/login">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </span>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </span>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <br>
        <div>
            <input id="submitBtn" class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
        </div>
    </form>
</div>
</body>
</html>